.blight{

  &__note{
    background-color: var(--color-dark-gray);
    color: var(--color-light-gray);
    padding: 15px;
    border-radius: var(--border-radius-medium);
    font-size: 16px;
    margin-top: 10px;
  }

  &__list{
    margin-top: 50px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__list-oil{
    margin-top: 50px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }

  &__item{
    padding: 20px;
    background-color: var(--color-dark-gray);
    display: flex;
    align-items: center;
    column-gap: 40px;
    border-radius: var(--border-radius-medium);
    justify-content: space-between;
  }

  &__title{
    display: flex;
    align-items: center;
    column-gap: 5px;
    position: relative;
  }
  &__ilvl{
    background-color: var(--color-accent-blue);
    padding: 5px 10px;
    border-radius: var(--border-radius-small);
  }

  &__oils{
    display: flex;
  }
}