@charset "UTF-8";
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--color-accent-purple);
}

h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-weight: 700;
  font-size: clamp(63px, 5.5555555556vw, 80px);
}

h2 {
  font-size: clamp(40px, 3.6111111111vw, 52px);
}

h3 {
  font-size: clamp(22px, 1.875vw, 27px);
}

:root {
  --color-light: #FFFFFF;
  --color-light-gray: rgba(255, 255, 255, 0.6);
  --color-light-gray-2: rgba(255, 255, 255, 0.4);
  --color-dark: #05010D;
  --color-dark-2: rgba(28, 28, 28, 0.5);
  --color-dark-gray: #10081e;
  --color-block: #120E19;
  --color-succsess: #59D499;
  --color-accent-blue: #56C2FF;
  --color-accent-red: #FF6363;
  --color-accent-orange: #ff8d63;
  --color-accent-purple: #A485FF;
  --color-accent-glow: #FFE2E2;
  --color-dark-alternate: #170e2f;
  --color-s: #59D499;
  --color-a: #d4ca59;
  --color-b: #d49059;
  --color-f: #d23b3b;
  --color-new-dark-1: #21222D;
  --color-new-dark-2: #171821;
  --font-family-base: "Inter", sans-serif;
  --container-width: 1280px;
  --container-padding-x: 32px;
  --section-padding-y: 256px;
  --border-radius: 12px;
  --border-radius-medium: 8px;
  --border-radius-small: 6px;
  --border-radius-button: 8px;
  --button-height: 44px;
  --input-height: 46px;
  --transition-duration: 0.3s;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  background-color: var(--color-block);
  font-weight: 700;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  font-size: 25px;
  color: var(--color-accent-purple);
}
.header__logo:hover a {
  color: var(--color-succsess);
}
.header__menu-list {
  display: flex;
  column-gap: 40px;
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 42px;
  text-transform: uppercase;
  font-size: 14px;
}

.section {
  margin-top: 100px;
}
.section__header {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.section__body {
  margin-top: 50px;
}
.section__description {
  color: var(--color-light-gray-2);
}
.section:last-child {
  padding-bottom: 100px;
}

.violet-bg {
  background-color: var(--color-accent-purple);
  padding: 5px;
  border-radius: var(--border-radius-medium);
}

.expedition__note {
  background-color: var(--color-dark-gray);
  color: var(--color-light-gray);
  padding: 15px;
  border-radius: var(--border-radius-medium);
  font-size: 16px;
  margin-top: 30px;
}
.expedition__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 50px;
}
.expedition__list-boss {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.expedition__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  background-color: var(--color-dark-gray);
  border-radius: var(--border-radius-medium);
  padding: 30px 30px 30px 30px;
}
.expedition__item-boss {
  border: 1px solid var(--color-light-gray);
  padding: 10px;
  border-radius: var(--border-radius-small);
}
.expedition__title {
  padding: 5px;
  border-radius: var(--border-radius-small);
  font-size: 20px;
  background-color: var(--color-accent-blue);
}
.expedition__description {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.expedition__description p {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.button {
  max-height: 40px;
  padding: 5px;
  min-width: 100px;
  border-radius: var(--border-radius-small);
  text-align: center;
  outline: none;
  background: none;
  border: 2px solid var(--color-light);
  color: var(--color-light);
}
.button:hover {
  color: var(--color-succsess);
  border-color: var(--color-succsess);
}

.content__lvl-red {
  background-color: var(--color-accent-red);
}
.content__lvl-orange {
  background-color: var(--color-accent-orange) !important;
}

.blight__note {
  background-color: var(--color-dark-gray);
  color: var(--color-light-gray);
  padding: 15px;
  border-radius: var(--border-radius-medium);
  font-size: 16px;
  margin-top: 10px;
}
.blight__list {
  margin-top: 50px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}
.blight__list-oil {
  margin-top: 50px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(1, 1fr);
}
.blight__item {
  padding: 20px;
  background-color: var(--color-dark-gray);
  display: flex;
  align-items: center;
  column-gap: 40px;
  border-radius: var(--border-radius-medium);
  justify-content: space-between;
}
.blight__title {
  display: flex;
  align-items: center;
  column-gap: 5px;
  position: relative;
}
.blight__ilvl {
  background-color: var(--color-accent-blue);
  padding: 5px 10px;
  border-radius: var(--border-radius-small);
}
.blight__oils {
  display: flex;
}

.notification {
  color: var(--color-accent-orange);
  font-weight: 700;
}

.atlas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.atlas__title {
  padding: 5px;
  background-color: var(--color-accent-purple);
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.atlas__link {
  background-color: var(--color-dark-alternate);
  border-radius: 0 0 5px 5px;
  padding: 5px;
  text-align: center;
}

.scarabs {
  background-color: var(--color-dark-gray);
  padding: 20px;
}
.scarabs__list {
  display: flex;
  justify-content: space-between;
}
.scarabs__item {
  position: relative;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-medium);
  padding: 5px;
}
.scarabs__item:hover .scarabs__description {
  display: block;
}
.scarabs__description {
  z-index: 1;
  min-width: 390px;
  display: none;
  position: absolute;
  top: -100px;
  left: 0;
  background-color: var(--color-dark);
  padding: 10px;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-accent-purple);
  font-size: 14px;
}
.scarabs__title {
  font-size: 18px;
  color: var(--color-accent-orange);
}

.separator {
  height: 10vh;
  margin-top: 100px;
  background-color: var(--color-dark-gray);
}

.equip__list {
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}
.equip__item {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  border: 2px solid var(--color-accent-purple);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-dark-alternate);
  transition: var(--transition-duration);
}
.equip__item:hover {
  background-color: var(--color-dark-gray);
  transition: var(--transition-duration);
}
.equip__item:hover .equip__description {
  display: block;
}
.equip__description {
  display: none;
  position: absolute;
  left: 50%;
  top: -40px;
  translate: -50%;
  min-width: 300px;
  padding: 10px;
  background-color: var(--color-dark);
  border: 1px solid var(--color-succsess);
  border-radius: var(--border-radius-medium);
  z-index: 2;
}
.equip__separator {
  width: 100%;
  height: 6vh;
  background-color: var(--color-dark-alternate);
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: var(--border-radius-medium);
}

.gemslot {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  max-width: 100px;
  align-self: center;
  gap: 5px;
  margin-top: 10px;
}
.gemslot__text {
  display: none;
  position: absolute;
  left: -100px;
  top: -150px;
  border: 1px solid var(--color-accent-blue);
  padding: 5px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-dark-gray);
}
.gemslot__socket {
  position: relative;
  width: 15px;
  height: 15px;
}
.gemslot__socket:hover .gemslot__text {
  display: block;
}
.gemslot__socket:after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid white;
  z-index: 5;
  border-radius: 50%;
}
.gemslot__socket-r:after {
  border-color: var(--color-accent-red);
}
.gemslot__socket-g:after {
  border-color: var(--color-succsess);
}
.gemslot__socket-b:after {
  border-color: var(--color-accent-blue);
}

.note {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--color-dark-gray);
  border-radius: var(--border-radius-medium);
}

.npc-name {
  color: var(--color-accent-orange);
  font-weight: bold;
}

.gem-name {
  font-weight: bold;
}
.gem-name--red {
  color: var(--color-accent-red);
}
.gem-name--blue {
  color: var(--color-accent-blue);
}
.gem-name--green {
  color: var(--color-succsess);
}

.gem-nest {
  display: inline-flex;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid var(--color-light);
  position: relative;
}
.gem-nest:not(:first-child) {
  margin-left: 5px;
}
.gem-nest:not(:first-child):before {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  translate: -50%;
  width: 7px;
  height: 1px;
  border: 1px dotted var(--color-light);
}
.gem-nest--red {
  border: 2px solid var(--color-accent-red);
}
.gem-nest--blue {
  border: 2px solid var(--color-accent-blue);
}
.gem-nest--green {
  border: 2px solid var(--color-succsess);
}

.roadmap__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.roadmap__list:before {
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--color-accent-purple);
  position: absolute;
  left: 50%;
  translate: -50%;
}
.roadmap__item {
  margin-top: 100px;
  width: 45%;
  padding: 10px;
  border: 1px solid var(--color-accent-orange);
  background-color: var(--color-dark-2);
  color: var(--color-light-gray);
}
.roadmap__item:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-light);
  background-color: var(--color-accent-purple);
  left: 50%;
  translate: -50%;
}
.roadmap__item:nth-child(even) {
  align-self: flex-end;
}
.roadmap__title {
  color: var(--color-accent-orange);
}
.roadmap__linked {
  padding-left: 10px;
  border-left: 1px dotted var(--color-light);
}

.layout {
  margin-top: 30px;
}
.layout__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.layout__item {
  border: 1px solid var(--color-new-dark-1);
  padding: 5px;
  border-radius: var(--border-radius-small);
}
.layout__item:hover {
  background-color: var(--color-new-dark-1);
  cursor: pointer;
}
.layout__item--good {
  color: var(--color-succsess);
}
.layout__item--middle {
  color: var(--color-accent-orange);
}
.layout__item--bad {
  color: var(--color-accent-red);
  text-decoration: line-through;
}

.mods {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  gap: 5px;
}
.mods__list {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.mods__item {
  border: 1px solid var(--color-new-dark-1);
  background-color: var(--color-dark-alternate);
  padding: 5px;
  border-radius: var(--border-radius-small);
  position: relative;
}
.mods__item:hover .mods__description {
  display: block;
}
.mods__item--s {
  color: var(--color-s);
}
.mods__item--a {
  color: var(--color-a);
}
.mods__item--b {
  color: var(--color-b);
}
.mods__item--f {
  color: var(--color-f);
}
.mods__title {
  padding: 5px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-accent-purple);
  font-weight: bold;
}
.mods__description {
  position: absolute;
  display: none;
  z-index: 2;
  background-color: var(--color-new-dark-1);
  color: var(--color-light) !important;
  padding: 10px;
  right: 0;
  top: 100%;
  max-width: 50%;
}

.drop__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.drop__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--color-dark-alternate);
  padding: 3px;
}
.drop__item--s {
  border-color: var(--color-s);
}
.drop__item--a {
  border-color: var(--color-a);
}
.drop__item:hover .drop__name {
  display: block;
}
.drop__name {
  display: none;
  position: absolute;
  top: -80px;
  z-index: 2;
  border: 1px solid var(--color-light);
  background-color: var(--color-new-dark-1);
  color: var(--color-light) !important;
  padding: 10px;
  font-weight: bold;
  min-width: 200px;
  text-align: center;
  font-size: 14px;
}

.act {
  font-weight: 600;
  color: #303030;
}
.act__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.act__item {
  width: 100%;
  min-height: 300px;
  box-shadow: 0 0 15px 0 var(--color-dark-alternate);
  border-radius: var(--border-radius-small);
  display: grid;
  grid-template-columns: auto 4fr;
}
.act__image {
  width: 100%;
}
.act__description {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
